html{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 92vh;
}

#generation{
    margin-right: 5px;
}


.button{
    user-select: none;
}

.button:hover{
    cursor: pointer;
}

.top-subcontainer{
    display: inline-flex;
    align-items: center
}

.top-subcontainer > input{
    width: 50px;
}

.top-title{
    font-size: 1.8em;
    margin: 0;
}

.top-bar{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.18)
}

.main-content {
    display: inline-flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
}